In [1]:
#importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#read dataset
data = pd.read_csv('../data/processed/data_processed_nans.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         59400 non-null  int64
 1   id                 59400 non-null  int64
 2   status_group       59400 non-null  object
 3   amount_tsh         59400 non-null  float64
 4   gps_height         59400 non-null  int64
 5   longitude          59400 non-null  float64
 6   latitude           59400 non-null  float64
 7   basin              59400 non-null  object
 8   region             59400 non-null  object
 9   ward               59400 non-null  object
 10  population         59400 non-null  int64
 11  public_meeting     56066 non-null  object
 12  scheme_management  55523 non-null  object
 13  permit             56344 non-null  object
 14  construction_year  59400 non-null  int64
 15  extraction_type    59400 non-null  object
 16  management         59400 non-null  object
 17  payment            59400 non-null  object
 18  payment_type       59400 non-null  object
 19  water_quality      59400 non-null  object
 20  quantity           59400 non-null  object
 21  quantity_group     59400 non-null  object
 22  source             59400 non-null  object
 23  waterpoint_type    59400 non-null  object
dtypes: float64(3), int64(5), object(16)
memory usage: 10.9+ MB