In [7]:
# importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# read dataset
data = pd.read_csv('../data/processed/data_processed_nans.csv')

In [5]:
data.head()

,Unnamed: 0,id,status_group,amount_tsh,gps_height,longitude,latitude,basin,region,ward,...,construction_year,extraction_type,management,payment,payment_type,water_quality,quantity,quantity_group,source,waterpoint_type
0,0,69572,functional,6000.0,1390,34.938093,-9.856322,Lake Nyasa,Iringa,Mundindi,...,1999,gravity,vwc,pay annually,annually,soft,enough,enough,spring,communal standpipe
1,1,8776,functional,0.0,1399,34.698766,-2.147466,Lake Victoria,Mara,Natta,...,2010,gravity,wug,never pay,never pay,soft,insufficient,insufficient,rainwater harvesting,communal standpipe
2,2,34310,functional,25.0,686,37.460664,-3.821329,Pangani,Manyara,Ngorika,...,2009,gravity,vwc,pay per bucket,per bucket,soft,enough,enough,dam,communal standpipe multiple
3,3,67743,non functional,0.0,263,38.486161,-11.155298,Ruvuma / Southern Coast,Mtwara,Nanyumbu,...,1986,submersible,vwc,never pay,never pay,soft,dry,dry,machine dbh,communal standpipe multiple
4,4,19728,functional,0.0,0,31.130847,-1.825359,Lake Victoria,Kagera,Nyakasimbi,...,0,gravity,other,never pay,never pay,soft,seasonal,seasonal,rainwater harvesting,communal standpipe

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         59400 non-null  int64
 1   id                 59400 non-null  int64
 2   status_group       59400 non-null  object
 3   amount_tsh         59400 non-null  float64
 4   gps_height         59400 non-null  int64
 5   longitude          59400 non-null  float64
 6   latitude           59400 non-null  float64
 7   basin              59400 non-null  object
 8   region             59400 non-null  object
 9   ward               59400 non-null  object
 10  population         59400 non-null  int64
 11  public_meeting     56066 non-null  object
 12  scheme_management  55523 non-null  object
 13  permit             56344 non-null  object
 14  construction_year  59400 non-null  int64
 15  extraction_type    59400 non-null  object
 16  management         59400 non-null  object
 17  payment            59400 non-null  object
 18  payment_type       59400 non-null  object
 19  water_quality      59400 non-null  object
 20  quantity           59400 non-null  object
 21  quantity_group     59400 non-null  object
 22  source             59400 non-null  object
 23  waterpoint_type    59400 non-null  object
dtypes: float64(3), int64(5), object(16)
memory usage: 10.9+ MB

In [ ]:
# nans
sns.heatmap(data.isnull(), cbar=False)
plt.show()